@font-face {
    font-family: 'Countryside';
    src: url('../fonts/Countryside.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/RobotoLight.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/RobotoRegular.ttf') format('truetype');
}

#menu-item-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#menu-item-container img {
    max-height: 40px;
}

#item-body {
    box-sizing: border-box;
    width: 80%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#item-body p {
    margin: 0;
}

#item-name {
    font-family: 'Countryside';
    font-size: medium;
    font-weight: bold;
}

#item-description {
    font-family: 'RobotoLight';
    font-size: small;
}

#item-price {
    width: 10%;
    font-family: 'RobotoRegular';
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
}