body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#main-container {
    box-sizing: border-box;
    width: 70vw;
    height: 90vh;
    margin: 5vh 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#nav-container {
    height: 100%;
    width: 40%;
    margin: 0;
}

#content-container {
    height: 100%;
    width: 55%;    
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}