@font-face {
    font-family: 'SummerLovers';
    src: url('./SummerLovers.otf') format('opentype');
}

#component-container {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#title {
    margin: 0;
    height: 25%;
    width: 100%;
    cursor: pointer;
    font-family: 'SummerLovers';
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

#icon-container {
    margin-top: 0;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#nav-container img {
    max-width: 15%;
    cursor: pointer;
}
